{% block footer %}

    <div id="footer" style="background-color: #16181b;width: auto;height: 15vw">
        <table class="table-borderless" style="margin: auto; width: 50% !important;">
            <thead>
            <tr>
                <th scope="col" style="color: whitesmoke;padding-top: 1.5vw;font-size: 1.2vw;text-align: center">
                    Interested in my work? Feel free to contact me via email or just drop in a chat
                </th>
            </tr>
            <tr>
                <th scope="col" style="color: whitesmoke;padding-top: 1.5vw;font-size: 1.2vw;text-align: center">
                    Copyright &copy; Shehanka Fernando
                </th>
            </tr>
            <tr>
                <th scope="col" style="color: whitesmoke;padding-top: 1.5vw;font-size: 1.2vw;text-align: center">
                    Built using Bootstrap, Jquery and Django
                </th>
            </tr>
            </thead>


        </table>
    </div>

{% endblock %}