{% block footer %}

    <div id="footer" style="background-color: #16181b;height: auto">
        <table class="table-borderless" style="margin: initial; width: 25% !important;">
            <thead>
            <tr>
                <th scope="row"
                    style="color: whitesmoke;padding-top: 1.5vw;font-size: 1em;text-align: left;padding-left: 2.5vw">
                    Quick Links
                </th>
            </tr>

            <tr>
                <th scope="row"
                    style="color: whitesmoke;padding-top: 1.5vw;font-size: 0.75em;text-align: left;padding-left: 2.5vw">
                    Technologies used
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="col"
                    style="color: whitesmoke;padding-top: 1.5vw;font-size: 0.75em;text-align: left;padding-left: 2.5vw">
                    <a href="ts3server://54.38.243.233/?port=9987&nickname=Web
Guest">
                        Teamspeak </a>
                </td>
            </tr>
            <tr>
                <td scope="col" style="color: whitesmoke;font-size: 0.75em;text-align: left;padding-left: 2.5vw">
                    Discord
                </td>

            </tr>

            <tr>
                <td scope="col" style="color: whitesmoke;font-size: 0.75em;text-align: left;padding-left: 2.5vw">
                    Slack
                </td>
            </tr>

            <tr>
                <td scope="col" style="color: whitesmoke;font-size: 0.75em;text-align: left;padding-left: 2.5vw">
                    Forums
                </td>
            </tr>
            </tbody>


        </table>
        <table class="table-borderless" style="margin: auto; width: 75% !important;">


        </table>

    </div>

{% endblock %}