{% extends 'MainClient/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}">

    </head>
    <body id="landingpagebody">

    <!---------------------------------------------------  HEADER  ---------------------------------------------------------------------->
    <div class="container-fluid" id="headerdiv">

        <h1 class="text-center" id="mainheading">Shehanka Fernando</h1>
        <h2 class="text-center" id="secondheading">Software Engineer by Day! Gamer by Night!</h2>
        <img id="logoimage" class="img-fluid" src="{% static 'images/Logo2.png' %}">

    </div>
    <!---------------------------------------------------  HEADER END ---------------------------------------------------------------------->
    <!-----------------------------------------------  NAVBAR START   ---------------------------------------------------------------------->
    <div>
        {% include 'MainClient/navbar.html' %}
        <div class="jumbotron jumbotron-fluid" style="background-color: #1d1d1d;height: 40vw;margin-bottom: -1vw"
             id="jumbo">
            <table class="table-borderless" style="margin: auto; width: 50% !important;">
                <thead>
                <tr>
                    <th data-aos="zoom-in" data-aos-duration="3000" scope="col"
                        style="color: white;text-align: center;font-size: 4vw;font-family: 'Luckiest Guy', cursive;">
                        Hey there!
                    </th>

                </tr>
                <tr>
                    <th data-aos="zoom-in" data-aos-duration="3000" data-aos-delay="500" scope="col"
                        style="color: white;text-align: center;font-size: 1.75vw;font-family: 'Noto Sans TC', sans-serif;">
                        Welcome to my personal webapp! If you are a pre-authorized client from Upwork, you can proceed
                        to simply login via the provided login information and then edit them later
                        if you wish. If you are a potential client or just a visitor, feel free to register yourself as
                        a new member. There will be exciting new features added to the
                        app later on, including my very own forum. But for now feel free to join me up on discord or
                        just drop a chat or if you are old-school hit me up with an email.
                    </th>
                </tr>
                </thead>
            </table>

        </div>


        <div class="container-fluid" id="cardcontainer" style="margin: auto">
            <div class="row">
                <!---------------------------------------------------  CARDS  ---------------------------------------------------------------------->
                <div data-aos="flip-left" data-aos-delay="250" class="card" id="facebookcard">
                    <img class="card-img-top" src="{% static 'images/facebook.png' %}" id="facebookimage">
                    <div class="card-body" style="background-color: #c8cbcf">
                        <h5 class="card-title" style="font-size: 2.5vw">My Facebook</h5>
                        <p class="card-text" style="font-size: 1.5vw">Hey there! Clicking here would take you to my
                            facebook page. You can checkout my gaming videos and whatnot. </p>
                        <a href="https://www.facebook.com/DimpleGamingX" target="_blank" class="btn btn-primary"
                           style="font-size: 1.5vw;margin: auto">Visit my Page!</a>
                    </div>
                </div>
                <!------------------------------------------------------------------------------------------------------------------------->
                <div class="card w-25 align-right" data-aos="flip-left" data-aos-delay="500" id="youtubecard">
                    <img class="card-img-top" src="{% static 'images/youtube.png' %}" id="youtubeimage">
                    <div class="card-body" style="background-color: lightgrey">
                        <h5 class="card-title" style="font-size: 2.5vw">My Youtube</h5>
                        <p class="card-text" style="font-size: 1.5vw">GamingSalts is my In-Game Name and pawning is my
                            game. Well that is if I can get myself into a lobby full of noobs. Click on the link below
                            if you wanna see some
                            unadulterated gaming content </p>
                        <a href="https://www.youtube.com/channel/UC57hn91Pm5RMkhXBlyu6wcg" target="_blank"
                           class="btn btn-primary" style="font-size: 1.5vw;margin: auto">Visit my Youtube Channel</a>
                    </div>
                </div>
                <!--------------------------------------------------------------------------------------------------------------------->
                <div class="card w-25 align-right" data-aos="flip-left" data-aos-delay="750" id="githubcard">
                    <img class="card-img-top" id="githubimage" src="{% static 'images/github.png' %}">
                    <div class="card-body" style="background-color: lightgrey">
                        <h5 class="card-title" style="font-size: 2.5vw">My Github</h5>
                        <p class="card-text" style="font-size: 1.5vw">Psst!!.. Wanna know a secret? I am a programmer as
                            well. Well I am still learning, but I
                            believe I've got enough skills to help myself and anybody who needs it. Don't believe me ?
                            Have a look at my repository by clicking below.</p>
                        <a href="https://github.com/TeddyIIG" class="btn btn-primary" target="_blank"
                           style="font-size: 1.5vw;margin: auto">Check out my Repo!</a>
                    </div>
                </div>
                <!--------------------------------------------------------------------------------------------------------------------->
                <div class="card w-25 align-right" data-aos="flip-left" data-aos-delay="1000" id="linkedincard">
                    <img class="card-img-top" src="{% static 'images/linkedin.png' %}" id="linkedinimage">
                    <div class="card-body" style="background-color: lightgrey">
                        <h5 class="card-title" style="font-size: 2.5vw">My LinkedIn</h5>
                        <p class="card-text" style="font-size: 1.5vw"> Want to check out my qualifications and my work
                            experiences ? Well then you are in luck!
                            Click on the link below to be redirected to my linkedin profile.</p>
                        <a href="https://www.linkedin.com/in/shehanka-fernando-2a0932a9/" target="_blank"
                           class="btn btn-primary" style="font-size: 1.5vw;margin: auto">Check out my profile</a>
                    </div>
                </div>
                <!----------------------------------------------------  CARD END  -------------------------------------------------------------->
            </div>
        </div>

        {% include 'MainClient/footer.html' %}


    </div>
    <!-----------------------------------------------  NAVBAR END STICKY   -------------------------------------------------------->
    </body>

    {% include 'MainClient/animations.html' %}
{% endblock %}