h1 {
    color: honeydew;
    font-size: 3.5vw;
}

h2 {
    color: honeydew;
    padding-top: 0.55em;
    font-size: 1.5vw;

}

h3 {
    color: #1b1e21;
}

h4 {
    font-size: 1.5vw;
}

p {
    color: black;
}


#headerdiv {
    background: linear-gradient(125deg, #9f00a7 80%, black 20%);
    background-blend-mode: color-burn;
    width: 100%;
    height: auto;


}

#CarouselIndicators {
    background-image: url("../images/Love.jpg");
    background-size: 100% 100%;

}

.dropdown-toggle::before {
    content: none;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
    background-color: lightgrey;
}

#login {
    float: right;
    margin-right: 2.22em;
    margin-bottom: 6em;
    margin-top: -5em;
    position: relative;
    height: auto;
    width: 10.5%;
    text-wrap: normal;
    font-size: 1vw;

}

#navmenu {

    color: white;
    position: sticky;

}

#main {
    margin-bottom: 0px;
}

#logoimage {

    position: initial;
    max-width: 100%;
    max-height: 100%;
    width: 20%;
    height: auto;
    margin-top: -9.66%;
    margin-left: 3%;

}

#navbar {

}

#footer {
    height: 300%;
    background-color: #22182C;
}

#footerdiv {
    min-height: 0.5vh;
    background-color: floralwhite;
}

#fb {
    padding-right: 15px;

}

#linkedin {
    padding-right: 15px;

}

#git {
    padding-right: 15px;

}

#mail {

    min-font-size: 50%;
}

#footernote {
    padding-bottom: 1px;
    font-size: 50%;
    color: whitesmoke;
    text-align: center;
    padding-left: 15px;
    line-height: 11px;

}

#footernote2 {
    padding-bottom: 1.5px;
    font-size: 50%;
    color: whitesmoke;
    padding-left: 4px;
    text-align: center;
    line-height: 8px;
}

#footer2 {
    min-height: 20px;
    background-color: #22182C;

}

#bugreport {
    float: right;
    margin-bottom: -5px;
    margin-right: 5px;
}
